@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

.App {
  position: relative;
  text-align: center;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}

h1, .navItems {
  font-family: 'Gloria Hallelujah', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.navItems, .navItems > buttom {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.pagination {
  font-size: 1rem;
  font-family: 'Gloria Hallelujah', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}

.loading {
  color: #fff;
}

.mini-poster{
  overflow: hidden;  /* NEW */
  min-width: 0;      /* NEW; needed for Firefox */
}

img.mini-poster{
  max-width: 100%;
}

@media only screen 
  and (max-width : 750px) 
  and (max-height : 1334px) {

  /* Styles here */
  img.mini-poster{
    max-width: 100px; 
  }

  .App-logo {
    height: 10vmin;
  }
}